.Div_status{
    width: 87%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
 
  justify-content: space-between;
}
.Div_status h2{
    font-size: 40px;
    font-weight: 700;
color: hsl(200, 60%, 99%);
}
.Div_status div{
    width: 350px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Div_status div button{
    width: 100px;
    height: 50px;
    border-radius: 35px;
 border: none;
    font-weight: 600;
    font-size: 20px;
    color: hsl(0, 0%, 78%);
    background-color: hsl(225, 23%, 24%);
}
 
 
[data-theme='dark'] .Div_status div button:active  {
    background-color: hsl(3, 86%, 64%);
    color: hsl(227, 75%, 14%);
    border: 2px solid hsl(3, 77%, 44%);
}

[data-theme='dark'] .Div_status div button:focus  {
    background-color: hsl(3, 86%, 64%);
    color: hsl(227, 75%, 14%);
    border: 2px solid hsl(3, 77%, 44%);
}
[data-theme='dark'] .Div_status button:hover{
    border: 3px solid hsl(3, 71%, 56%);
    background-color: hsl(226, 11%, 37%);
    color: hsl(200, 60%, 99%);
}

[data-theme='light'] .Div_status h2{
    color: hsl(227, 75%, 14%);
}
[data-theme='light']  .Div_status div button{
    background-color:hsl(200, 60%, 99%) ;
    color: hsl(227, 75%, 14%);
}
[data-theme='light']  .Div_status div button:hover{
    background-color:  hsl(200, 60%, 99%);
    color: hsl(226, 25%, 17%);
    border: 2px solid hsl(3, 77%, 44%);
}
[data-theme='light']  .Div_status div button:active {
    background-color: hsl(3, 77%, 44%);
    color: hsl(200, 60%, 99%);
    
}
[data-theme='light']  .Div_status div button:focus {
    background-color: hsl(3, 71%, 56%);
    color: hsl(200, 60%, 99%);
    border: 2px solid hsl(3, 77%, 44%);
   
}


@media screen and (max-width:500px)  {
    .Div_status{
        width: 87%;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
     
      justify-content: space-between;
    }
    .Div_status h2{
        font-size: 30px;
        font-weight: 700;
    color: hsl(200, 60%, 99%);
    }

    .Div_status div{
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
    }
    .Div_status div button{
        width: 70px;
        height: 40px;
        border-radius: 35px;
     border: none;
        font-weight: 600;
        font-size: 14px;
        color: hsl(0, 0%, 78%);
        background-color: hsl(225, 23%, 24%);
    }


}